.navigation {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px;
  background: rgba(0, 0, 0, 0.5);

  @include shadow;

  .login {
    padding: 5px 10px;
    border: 2px solid transparent;
    border-bottom: 2px solid $color-primary;
    transition: all .4s ease;

    &:hover{
    border: 2px solid $color-primary;
    }
  }
}
